*.swp
*.o
*.lo
.deps*
.libs*
*~
Makefile
autom4te.cache
libtool
stamp-h1
aclocal.m4
ac_*.m4
[b-z]*.m4
Makefile
Makefile.in
config.*
po
build-aux
configure
out*
*.bak
*.orig
blib
Build
_build
demo*.pkt
*.log
*.tmp
MYMETA.*
*.tar.gz
Makefile.*
